* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background-color: #fef2dd;
}

button, select {
    text-transform: none;
}

.contenedor {
    width: 100%;
}

main {
    padding: 6rem 0;
}

main h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
}

main .opciones {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.opciones .opcion {
    margin:  15px 30px;
    background-color: rgb(163, 102, 61);
    box-shadow: 2px 2px 8px rgb(103, 103, 103);
    padding: 20px;
}

.opcion {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.opcion a {
    display: flex;
    align-items: center;
    /* width: 100px; */
    text-decoration: none;
    color: rgb(42, 25, 14);
    transition: .3s;
    transition-timing-function: ease-out;
    padding: 0 .6rem;
}

.opcion a:hover {
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(42, 25, 14);
}

.opcion a:hover img {
    filter: invert(100%);
}

.opcion a img {
    height: 55px;
    width: auto;
    margin: 5px;
    transition: .3s;
    transition-timing-function: ease-out;
}

.contenedorForm {
    max-width: 768px;
    margin: 60px auto;
}

.contenedorForm > h1 {
    font-size: 4.5rem;
    font-weight: 200;
    text-align: center;
}

form {
    padding: 37.5px;
    margin: 50px 0;
    background-color: rgb(163, 102, 61);
    box-shadow: 2px 2px 8px rgb(42, 25, 14);
}

button, input, select, textarea {
    color: #000000;
    font: inherit;
    margin: 0;
}

.emailForm {
    float: right;
    width: 45%;
}

.nombre {
    float: left;
    width: 45%;
}

.message {
    float: none;
}

.seleccion {
    width: 100%;
}
  
.telefono {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::placeholder {
    color: #000000;
    opacity: .75;
}

input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px rgb(42, 25, 14);
    color: #000000;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

/* input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
} */

.archivo {
    position: relative;
    margin: 1rem 0;
    padding: 20px 35px;
    width: 196px;
    height: 40px;
}

.archivo label {
    border: 2px solid rgb(42, 25, 14);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

input[type='file'] {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.archivo label span {
    color: rgb(42, 25, 14);
    text-transform: uppercase;
    transition: .3s;
    font-size: 0.875em;
    font-weight: bold;
    font-family: 'Helvetica', Arial, sans-serif;
}

.archivo:hover label span {
    color: #F2F3EB;
}

.archivo:hover label {
    background: rgb(42, 25, 14);
}

#enviar_boton {
    background: none;
    border: solid 2px rgb(42, 25, 14);
    color: rgb(42, 25, 14);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#enviar_boton:hover {
    background: rgb(42, 25, 14);
    color: #F2F3EB;
}

.piePagina {
    text-align: center;
    background-color: rgba(42, 25, 14, 0.913);
    padding: 4rem 0;
}

.piePagina .redesSocialesFooter {
    margin: 25px 0;
}

.piePagina .redesSocialesFooter a {
    margin: 0 20px;
}

.piePagina .redesSocialesFooter a img {
    filter: invert(75%);
    transition: .3s;
}

.piePagina .redesSocialesFooter a img:hover {
    filter: invert(100%);
    transform: scale(1.1);
}

.piePagina .botones {
    margin: 20px 0;
}

.piePagina .botones a {
    margin: 0 25px;
    text-decoration: none;
    color: rgb(206, 213, 219);
    font-family: 'Poppins', sans-serif;
    transition: .3s;
    border-bottom: 0px solid rgb(42, 25, 14);
}

.piePagina .botones a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.piePagina .nombreCompania small {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(42, 25, 14);
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    main > h1 {
        font-size: 5rem;
    }

    .contenedorForm {
        margin: 20px auto;
        width: 95%;
    }

    .redesSociales{
        /* margin: 15px 0; */
        text-align: center;
        align-items: center;
    }

    .redesSociales a {
        width: 175px;
    }

    .opcion a:hover {
        box-shadow: 0 0 0;
    }

    .piePagina .botones a{
        margin: 10px;
        font-size: 14px;
    }
}
  
  @media screen and (max-width: 480px) {
    main > h1 {
        font-size: 4rem;
    }
    
    .contenedorForm > h1 {
      font-size: 4rem;
    }
    
    #enviar_boton {
      padding: 15px 25px;
    }
}
  
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }

    .opciones .opcion {
        width: 95%;
        margin: 15px 0;
    }
}
  
